# Python; Iterations

In [1]:
for i in range(10):
    print(i)
    print('hello')

0
hello
1
hello
2
hello
3
hello
4
hello
5
hello
6
hello
7
hello
8
hello
9
hello

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):
    if i%2==0:
        print(i)

0
2
4
6
8

In [13]:
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [14]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [15]:
a = 0
constant = 5
for i in range(10):
    a = a + constant
    print("Value of a at step", i, "is", a)
print("This is the final value of a", a)

Value of a at step 0 is 5
Value of a at step 1 is 10
Value of a at step 2 is 15
Value of a at step 3 is 20
Value of a at step 4 is 25
Value of a at step 5 is 30
Value of a at step 6 is 35
Value of a at step 7 is 40
Value of a at step 8 is 45
Value of a at step 9 is 50
This is the final value of a 50

In [48]:
x = [12, 43, 4, 1, 6, 343, 10]
for item in x:
    print(item)

12
43
4
1
6
343
10

In [50]:
fruits = ['apple', 'orange', 'banana', 'grapes', 'pineapple']
for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
pineapple

In [52]:
num_list = [34, 12, 93, 783, 330, 896, 1, 55]
total = 0
for i in num_list:
    total += i
    print("Total at step",i, "is", total)
    
print('\n')
print("The final total is ", total)

Total at step 34 is 34
Total at step 12 is 46
Total at step 93 is 139
Total at step 783 is 922
Total at step 330 is 1252
Total at step 896 is 2148
Total at step 1 is 2149
Total at step 55 is 2204


The final total is  2204

In [53]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = []

for item in data:
    new_list.append(item**2)
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
x = {'key1': 100 , 'key2': 200 , 'key3': 300}

In [4]:
for key in x.keys():
    print(key)

key1
key2
key3

In [5]:
for value in x.values():
    print(value)

100
200
300

In [6]:
for key, value in x.items():
    print("For ", key, " the value is: ", value)

For  key1  the value is:  100
For  key2  the value is:  200
For  key3  the value is:  300

In [7]:
ages = {'Brian':23, 'Amy':22, 'Darlene':47, 'Ralph': 32, 'Jordan':28, 'Stephanie':35}

In [8]:
for name, age in ages.items():
    print(name, "is", age, "years old.")

Brian is 23 years old.
Amy is 22 years old.
Darlene is 47 years old.
Ralph is 32 years old.
Jordan is 28 years old.
Stephanie is 35 years old.

In [10]:
i = 0
while i<10:
    print("Hello")
    print(i)
    i = i+1

Hello
0
Hello
1
Hello
2
Hello
3
Hello
4
Hello
5
Hello
6
Hello
7
Hello
8
Hello
9

In [12]:
i = 0
while i<10:
    print("Hello")
    print(i)
    i = i+3

Hello
0
Hello
3
Hello
6
Hello
9

In [13]:
word = "IRONHACK"
i = 0
while i < len(word):
    print(word[i])
    i=i+1

I
R
O
N
H
A
C
K

In [14]:
word = "IRONHACK"
for i in range(len(word)):
    print(word[i])

I
R
O
N
H
A
C
K

# Exercises

# 1.1

In [27]:
for i in range(10,30):
    print(i)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [26]:
for i in range(10,30,3):
    print(i)

10
13
16
19
22
25
28

# 1.2

In [30]:

for i in range(10,30):
    if i%5==0:
        print(i)

10
15
20
25

# 1.3

In [32]:
for i in range(1,6,2):
    print("*"*i)

*
***
*****

# 1.4

In [43]:
space = 2
for i in range(1,6,2):
    print(space*" ",i*"*")
    space = space - 1

   *
  ***
 *****

# 1.5

In [46]:
import math
a = int(input("Please enter an interger: "))
result = 1
for a in range(2,a+1):
    result = result*a
if result == math.factorial(a):
    print("Factorial is ", result)
    print("The answer is correct")
else:
    print("Your answer is not correct")

Please enter an interger: 8
Factorial is  40320
The answer is correct

# Exercise; Iterations on Lists

# 2.1

In [56]:
x = [12, 43, 4, 1, 6, 343, 10, 34, 12, 93, 783, 896, 1, 55]

In [60]:
for item in x:
    if item%3==0:
        print(item)

12
6
12
93
783

# 2.2

In [70]:
output_list = []
for item in x:
    item = str(item)
    last_digit = item[-1]
    if last_digit == '3':
        output_list.append(item)
        print(item)

43
343
93
783

# 2.3

In [79]:
min(x)

1

# 2.4

In [80]:
max(x)

896

# Exercises: Iterations on Dictionaries

# 3.1

In [4]:
word_freq = {'love': 25, 'conversation': 1, 'every': 6, "we're": 1, 'plate': 1, 'sour': 1, 'jukebox': 1, 'now': 11, 'taxi': 1, 'fast': 1, 'bag': 1, 'man': 1, 'push': 3, 'baby': 14, 'going': 1, 'you': 16, "don't": 2, 'one': 1, 'mind': 2, 'backseat': 1, 'friends': 1, 'then': 3, 'know': 2}

In [5]:
for word, freq in word_freq.items():
    if freq < 3:
        print(word)

conversation
we're
plate
sour
jukebox
taxi
fast
bag
man
going
don't
one
mind
backseat
friends
know

# 3.2

In [9]:
frequencies = list(word_freq.values())
max_freq = max(frequencies)
for word, freq in word_freq.items():
    if freq == max_freq:
        print(word)

love

#  Snail and Well

In [1]:
well_height = 125
daily_climb = 30
nightly_fall = 20
total_distance = 0
total_days = 0
is_morning = True

while (total_distance < well_height):
    if (is_morning):
        total_distance += daily_climb
        is_morning = False
        total_days += 1
    else:
        total_distance -= nightly_fall
        is_morning = True
        
print('Days =', total_days)

Days = 11

In [12]:
def avg_speed():
    daily_climb = [30, 21, 33, 77, 44, 45, 23, 45, 12, 34, 55]
    import numpy as np
    avg_sp = np.mean(daily_climb)
    avg_sp = round(avg_sp,1)

In [13]:
np.mean(daily_climb)

NameError: name 'np' is not defined

In [14]:
import numpy as np